*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body,html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(140deg,#fd8a96 15%,#FE5D6C,#FE5D6C,#FE5D6C,#FE5D6C,#fd8a96);
    background-attachment: fixed;
    overflow-y: hidden;
}
body::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background: transparent;
    display: none;
}
body::-webkit-scrollbar-track{
    background: url(../img/diagonal-lines.svg);
}

body::-webkit-scrollbar-thumb{
    width: 5px;
    background: linear-gradient(180deg,#0764ce,#0764ce7c);
    border-radius: 50px;
}
a{
    text-decoration: none;
    color: #151515;
}
.preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 15;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 10s;
}
.preloader span{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: #0764ce 7px solid;
    border-right-style: dotted;
    border-top-color: transparent;
    animation: loader 4s infinite linear;
}
@keyframes loader{
    25%{transform: rotate(180deg);}
    50%{transform: rotate(360deg); border-color: #FE5D6C;border-top-color: transparent;}
    75%{transform: rotate(440deg);border-color: #FE5D6C;border-top-color: transparent;}
    100%{transform: rotate(720deg);}
}
.preloader div{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../img/diagonal-lines.svg);
}


.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*  Panel Izquierdo  */
.console{
    position: sticky;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: #FE5D6C;
    box-shadow: 3px 0px 10px #e22e40;
}
.console nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 11.5%;
    margin-right: 5%;
    height: 100%;
    background: #FE5D6C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 3;
    transition: .5s ease-in-out;
}
.console nav:hover{
    width: 100%;
    background: #FE5D6C;
    transition: .5s ease-in-out;
    transition-delay: .6s;
}
nav h1{
    position: absolute;
    bottom: 45px;
    left: -10px;
    color: #303030;
    transform: rotate(-90deg);
}
.console nav a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FE5D6C;
    transition-delay: 0.5s;
}

.console nav:hover a::before{
    opacity: 0;
    transition-delay: 0.6s;
}
.console nav a{
    width: 20vw;
    height: 60px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
}
.console nav a:hover{
    background: #f5374a60;
    border-right: 5px solid #f5374a;
}
.console nav a.active img{
    filter: brightness(1);
}
.console nav a img{
    width: 23px;
    height: 23px;
    margin-right: 50px;
    padding-right: 2px;
    filter: brightness(0);
}
.console .profile{
    width: 75%;
    height: 100%;
    top: 0;
    left: 18.5%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FE5D6C;
    z-index: 1;
}
.console .profile .visual-profile{
    width: 107%;
    left: 5%;
    height: 20%;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    color: white;
    overflow: hidden;
}
.console .profile .visual-profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: saturate(1.1);
}
.balance,.groups,.historial{
    width: 100%;
    margin: 2.4px 0;
    background: #FE5D6C;
    box-shadow: 0px 0px 20px #da2839;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5vh 5px 5px 5px;
    border-radius: 2.5px;
}
.console .profile .balance{
    height: 26%;
}.console .profile .groups{
    height: 15%;
}.console .profile .historial{
    height: 35%;
    padding: 5vh 0px 0px 0px;
}
.console .profile .balance h3,.console .profile .groups h3,.console .profile .historial h3{
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    padding: 9px 0 0 6px;
    font-size: 0.95em;
}
.console .profile .balance .funds{
    background: #0764ce;
    width: 98%;
    height: 56%;
    left: 1%;
    border-top: 0px solid #035dc4;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: sans-serif;;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 15px;
}
.console .profile .balance .addfunds{
    height: 35%;
    width: 24%;
    left: 74%;
    border-radius: 3px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eb394b;
    font-size: 20px;
    box-shadow: 0px 0px 10px #e22e40;
}
.console .profile .groups .mygroups{
    width: 100%;
    height: calc(100% - 15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.console .profile .groups .mygroups .group{
    width: 3.15vw;
    height: 3.15vw;
    background: url(../img/sunset-8k-forest-4k-wallpaper-preview.jpg)no-repeat center center/cover;
    border-radius: 50%;
}
.console .profile .groups .mygroups .group:nth-last-child(2n + 1){
    background: url(../img/preorders_open__kitsune_t_shirt_by_djamilaknopf_dcxmvz1-fullview.jpg)no-repeat center center/cover;
}
.console .profile .groups .mygroups .group:hover{
    transform: scale(.9);
    transition: 0.2s;
}
.console .profile .historial .datos{
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}
.console .profile .historial .datos .dato{
    width: 100%;
    height: 20%;
    border-bottom:2px #f5374a solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5px;
    padding: 0 5px;
}
.console .profile .historial .datos .dato:hover{
    background: #fd475a;
    transition: 0.25s;
}
.console .profile .historial .datos .dato span:nth-last-child(2){
    color: #eb394b;
    position: absolute;
    left: 62%;
}
.console .profile .historial .datos .dato .mas{
    color: rgba(255, 255, 255, 0.7);
}
.console .profile .historial .datos .dato .menos{
    color: #eb394b;
}
.console .profile .groups a,.console .profile .historial a{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3.1vh;
    width: 100%;
    font-size: 0.95em;
    background:#fd475a;
    z-index: 1;
}
/* */

/* Central */
.banner{
    top: 0;
    width: 48%;
    height: 330vh;
    overflow-x: hidden;
}
.banner section{
    padding-top: 65vh;
    left: -100%;
    width: 300%;
    height: 315vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.6s;
}
.preview{
    position: fixed;
    top: 0;
    left: 32.7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 0 18px 0;
    width: 37.1vw;
    height: 30px;
    background: #f6f9fa;
    border-bottom: rgba(202, 202, 202, 0.959) 2.4px solid;
    z-index: 5;
}
.preview.bloq{
    pointer-events: none;
}
.preview p{
    top: 5px;
    height: 30px;
    width: 60px;
    text-align: center;
    margin: 0 10px;
    color: #151515;
    cursor: default;
    -webkit-user-select: none;
}
.preview p.clicked{
    color: black;
    border-bottom: 3px solid #0764ce;
}
.box{
    top: 20px;
    display: grid;
    width: 48vw;
    height: 250vh;
    padding: 0 5.5vw;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 50vh;
    gap: 7px;
    transition: 0.5s;
}
.box.see{
    filter: saturate(0);
    pointer-events: none;
    transition: 1s;
}
.box img.globo{
    position: absolute;
    left: 50%; 
    top: -335px;
    width: 300px; 
    height: 300px;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 50%;
}
.box .glob{
    position: absolute;
    left: calc(50% - 0.2px); 
    top: -360px;
    width: 37vw;
    height: 350px;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #e22e40;
}
.box .glo{
    position: absolute;
    left: 33%; 
    top: -280px;
    font-size: 30px;
    width: 15vw;
    height: 350px;
    transform: translateX(-50%);
    color: white;
    z-index: 2;
}
.box .glo span{
    position: absolute;
    width: 100%;
    left: 0;
    top: 27%;
    font-size: 0.8em;
    color: #0764ce;
}
.card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fd47599f;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #e22e40;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.card:nth-child(2n + 2){
    top: 25vh;
}
.box:nth-child(2n + 1) .card{
    box-shadow: none;
}
.card .fondo{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:nth-child(2) .card:nth-child(2n + 1) .fondo{
    background: #505050;
}
.card img{
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}
.box:nth-child(2n + 1) .card img{
    display: none;
}
.card .info{
    width: 100%;
    height: 35%;
    background: white;
}
.card .info .basico{
    width: 100%;
    height: 70%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card .info .basico .fecha{
    font-family: sans-serif;
    font-size: 0.5em;
    color: rgb(100, 100, 100);
    margin: 5px 0 10px 0;
    transform: scale(0.8);
    align-self: flex-start;
}
.card .info .basico .rondas{
    position: absolute;
    top: -280%;
    left: 80%;
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 50%;
    color: white;
    font-size: 1em;
    border: white 6px solid;
    border-left: white 6px dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.card:nth-child(7) .info .basico .rondas{
    color: #303030;
    border: #303030 6px solid;
    border-left: #303030 6px dotted;
    opacity: 0.9;
}    
.card .info .progreso{
    width: 100%;
    height: 30%;
    border-top: rgb(214, 213, 213) 2px solid;
    display: flex;
    color: #303030;
    padding: 0 6px;

}
.card .info .progreso span{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FE5D6C;
}
.card .info .progreso span.cero:nth-child(1){
    filter: saturate(0);
}
.card .info .progreso span:nth-child(2){
    justify-content: flex-end;
    color: #303030;
}
.card .info .progreso span.doscinco:nth-child(2) img{
    filter: saturate(0);
}
.card .info .progreso span.cincocero:nth-child(2) img{
    filter: saturate(0.7);
}
.card .info .progreso span.sietecinco:nth-child(2) img{
    filter: saturate(1.4);
}
.card .info .progreso span.cien:nth-child(2) img{
    filter: saturate(1) hue-rotate(210deg);
    animation: pulse 3.5s infinite;
}
@keyframes pulse{
    70%{
        transform: scale(1);
    }
    85%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.card .info .progreso span img{
    height: 60%;
    width: 20%;
    margin-left: 5px;
}
.parche{
    background: white;
    height: 49%;
    top: 51%;
    left: 1%;
    border-radius: 3px;
    background: #FE5D6C;
    box-shadow: 0px 0px 30px #e22e40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parche.one{
    top: -512%;
    left: 103%;
    transform: rotate(180deg) rotateY(180deg);
}
.parche img{
    width: 55%;
    height: 65%;
}

.information{
    position: fixed;
    width: 29vw;
    height: 47vh;
    top: 50vh;
    left: 51.5%;
    transform: translate(-50%,-50%) scale(0.9);
    color: white;
    background: #FE5D6C;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 0 10px;
    transition: 0.5s;
    border-radius: 3.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
}
.information.see{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: .5s;
}
.information .valores{
    left: 5%;
    top: 0;
    width: 29vw;
    padding: 10px 0;
    font-size: 30px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: none;
}
.information .valores div{
    width: 40%;
    text-align: left;
}
.information h2{
    color: #f5374a;
    height: 34%;
    width: 82%;
    top: 2%;
    left: 4%;
    display: flex;
    align-items: flex-end;
    font-size: 2.5em;
}
.information a{
    text-transform: uppercase;
    bottom: 0;
    left: 63%;
    border-top: #f5374a 3px solid;
    padding: 5px;
}
.close{
    position: fixed;
    top: 31%;
    left: 62.5%;
    z-index: 2;
    visibility: hidden;
    opacity: 0.2;
    cursor: pointer;
}
.close.see{
    visibility: visible;
    opacity: 1;
    transition: .8s;
    transition-delay: .7s;
}

/* */

/*  Actividad - panel derecho */
.stats{
    position: sticky;
    top: 0;
    right: 10%;
    width: 17.5%;
    height: 100vh;
    padding: 40px 20px 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.stats.tutorial{
    z-index: 10;
}
.bets{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finalizado{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #FE5D6C;
    box-shadow: 0px 0px 15px #e22e40;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.activo{
    display: none;
}
article h3{
    width: 100%;
    height: 20%;
    color: rgb(32, 32, 32);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
}
article h3 span{
    position: absolute;
    bottom: 5px;
    right: 35px;
    font-size: 0.8em;
    opacity: 0.6;
}
article h3 span span{
    position: absolute;
    bottom: 0;
    font-size: 1em;
    right: -20px;
    opacity: 1;
}
.bar{
    width: 96%;
    height: 16%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 4px;
    cursor: pointer;
}
.finalizado .bar{
    border-bottom: none;
}
.finalizado .bar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    background-color: rgb(139, 139, 139);
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.finalizado .bar:hover::before{
    height: 0%;
}
.finalizado .bar::after{
    position: absolute;
    width: 100%;
    bottom: -9px;
    right: 0;
    text-align: right;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    padding-right: 5px;
}
.bar.win::after{
    content: 'WINNER';
}
.bar{
    border-top: 4px solid #eb394b;
}
.bar::after{
    content: 'LOSER';
    color: #FE5D6C;
}
.finalizado .bar::before{
    background: #eb394b;
}
.bar.back::after{
    content: 'ONE MORE CHANCE';
    left: 0px;
}
.bar.nextime::after{
    content: 'TRY AGAIN';
}
.bar h4{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.85em;
    z-index: 3;
}
article.finalizado .bar h4{
    width: 92%;
    display: flex;
    justify-content: space-between;
}
.bar h4 span{
    position: absolute;
    top: 140%;
    left: 0;
    font-size: 0.8em;
    color: #004596;
}
article.finalizado h4 span{
    position: relative;
    left: 0;
    top: 0;
    color: #FE5D6C;
}
.uso{z-index: 2;}
.bar progress{
    -webkit-appearance: none;
    position: absolute;
    top: -145.6%;
    left: 35%;
    transform: rotate(-90deg);
    width: 30%;
    height: 400%;
    z-index: 1;
}
.bar ::-webkit-progress-bar{
    background: transparent;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.bar ::-webkit-progress-value{
    border-right: 2px solid gray;
    background: url(../img/diagonal-lines.svg);
    background-size: 8px;
    opacity: 0.6;
}
.bar h5{
    position: absolute;
    font-family: sans-serif;
    color: rgba(128, 128, 128, 0.6);
    font-size: 30px;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.plus{
    position: absolute;
    justify-content: flex-start;
    bottom: 0;
    color: #eb394b;
    border-bottom: none;
    border-top: #eb394b 2px solid;
    text-decoration: none;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 4px;
    cursor: pointer;
}

.guide{
    width: 100%;
    height: 35%;
    background: #0764ce;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    overflow: hidden; 
}
.guide .list{
    height: 100%;
    width: 50%;
}
.guide .list h3{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 40px;
    padding: 25px 30px 20px 20px;
    z-index: 4;
    background: rgba(129, 173, 231, 0.2);
}
.guide .list h3 span{
    color: #80AFE7;
    font-size: 16px;
    bottom: 25px;
    right: -80px;
    padding-top: 5px;
    border-top: #207AD3 4px solid;
    cursor: pointer;
    -webkit-user-select: none;
}
.guide .timeline{
    display: none;
}
.guide .step{
    display: none;
}


.guide.tutorial{
    overflow: visible;
}
.guide .folleto{
    width: 60%; 
    top: 35px;
}
.guide .folleto img{
    width: 80%;
    left: 10%;
    filter: sepia(1) hue-rotate(180deg) opacity(0.5);
}

.guide.tutorial .timeline{
    position: absolute;
    top: -206%;
    left: -465.5%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);    
    display: block;
    z-index: 3;

}    
.guide.tutorial .timeline .mark{
    color: white;
    background: transparent;
    position: absolute;
    backdrop-filter: brightness(1.9) saturate(1.15);
    border-radius: 3px;
    display: none;
}    
.guide.tutorial .timeline .mark.step{
    display: block;
} 
.guide.tutorial .timeline .mark span::before{
    position: absolute;
    content: '';
    border-bottom: 25px solid transparent;
    border-top: 0px solid transparent;
    border-right: 25px solid #0764ce;
    border-left: 0px;
    width: 0;
    height: 0;
    position: absolute;
    left: -24px;
    top: 0;
}
.guide.tutorial .timeline .mark:nth-child(4) span::before{
    right: -24px;
    left: auto;
    border-left: 25px solid #0764ce;
    border-right: 0px;
}
.guide.tutorial .timeline .mark span{
    position: absolute;
    right: 0;
    color: #398de7;
    background: #0764ce;
    width: 16.5vw;
    height: 15.5vh;
    top: 0;
    transform: translateX(115%);
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    position: absolute;
    -webkit-user-select: none;
    border-bottom: #0651a7 3px solid;
}
.guide.tutorial .timeline .mark:nth-child(4) span{
    left: 0;
    transform: translateX(-115%);
}
.guide.tutorial .timeline .mark:hover span{
    transform: translateX(115%) scale(1.03);
    transition: 0.35s;
    color: #499cf5;
}
.guide.tutorial .timeline .mark:nth-child(4):hover span{
    transform: translateX(-115%) scale(1.03);
}
.guide.tutorial .timeline .mark span .nextstep,.guide.tutorial .timeline .mark span .backstep{
    position: absolute;
    bottom: 3px;
    right: 15px;
    padding-top: 1px;
    cursor: pointer;
    border-top: #0651a7 3px solid;
}
.guide.tutorial .timeline .mark span .backstep{
    left: 140px;
    right: 60px;
}
/* */