*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body,html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(129, 210, 231, 0.05);
    background-image: url(../img/diagonal-lines.svg);
    background-attachment: fixed;
    overflow-y: hidden;
}
body::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background: transparent;
    display: none;
}
body::-webkit-scrollbar-track{
    background: url(../img/diagonal-lines.svg);
}

body::-webkit-scrollbar-thumb{
    width: 5px;
    background: linear-gradient(180deg,#0764ce,#0764ce7c);
    border-radius: 50px;
}
a{
    text-decoration: none;
    color: #151515;
}
.preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 10s;
}
.preloader span{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: #0764ce 7px solid;
    border-right-style: dotted;
    border-top-color: transparent;
    animation: loader 4s infinite linear;
}
@keyframes loader{
    25%{transform: rotate(180deg);}
    50%{transform: rotate(360deg); border-color: #FE5D6C;border-top-color: transparent;}
    75%{transform: rotate(440deg);border-color: #FE5D6C;border-top-color: transparent;}
    100%{transform: rotate(720deg);}
}
.preloader div{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../img/diagonal-lines.svg);
}


.content{
    width: 100%;
    display: flex;
}

/*  Panel Izquierdo  */
.console{
    position: sticky;
    top: 0;
    left: 0;
    width: 17%;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.console nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    height: 100%;
    background: #d9e0e4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 3;
    transition: .5s ease-in-out;
}
.console nav:hover{
    width: 100%;
    background: #FE5D6C;
    transition: .5s ease-in-out;
    transition-delay: .6s;
}
nav h1{
    position: absolute;
    bottom: 45px;
    left: -13px;
    color: #303030;
    transform: rotate(-90deg);
}
.console nav a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d9e0e4;
    transition-delay: 0.5s;
}

.console nav:hover a::before{
    opacity: 0;
    transition-delay: 0.6s;
}
.console nav a{
    width: 17vw;
    height: 60px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.console nav a:hover{
    background: #f5374a60;
    border-right: 5px solid #f5374a;
}
.console nav a.active img{
    filter: brightness(1);
}
.console nav a img{
    width: 23px;
    height: 23px;
    margin-right: 50px;
    padding-right: 2px;
    filter: brightness(0);
}
.console .profile{
    width: 84%;
    height: 100%;
    top: 0;
    left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #d9e0e4;
}
.console .profile .visual-profile{
    width: 100%;
    height: 20%;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    color: white;
    overflow: hidden;
}
.console .profile .visual-profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: saturate(1.1);
}
.balance,.groups,.historial{
    width: 100%;
    margin: 2.4px 0;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5vh 5px 5px 5px;
    border-radius: 2.5px;
}
.console .profile .balance{
    height: 30%;
}.console .profile .groups{
    height: 15%;
}.console .profile .historial{
    height: 35%;
}
.console .profile .balance h3,.console .profile .groups h3,.console .profile .historial h3{
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    padding: 9px 0 0 6px;
    font-size: 0.95em;
}
.console .profile .balance .funds{
    background: #0764ce;
    width: 98%;
    height: 50%;
    left: 1%;
    border-top: 0px solid #035dc4;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: sans-serif;;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 15px;
}
.console .profile .balance .addfunds{
    height: 40%;
    width: 24%;
    left: 74%;
    border-radius: 3px;
    background: rgba(217, 217, 218, 0.8);
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.console .profile .groups .mygroups{
    width: 100%;
    height: calc(100% - 15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.console .profile .groups .mygroups .group{
    width: 3.15vw;
    height: 3.15vw;
    background: url(../img/sunset-8k-forest-4k-wallpaper-preview.jpg)no-repeat center center/cover;
    border-radius: 50%;
}
.console .profile .groups .mygroups .group:nth-last-child(2n + 1){
    background: url(../img/preorders_open__kitsune_t_shirt_by_djamilaknopf_dcxmvz1-fullview.jpg)no-repeat center center/cover;
}
.console .profile .groups .mygroups .group:hover{
    transform: scale(.9);
    transition: 0.2s;
}
.console .profile .historial{
    padding: 5vh 0px 0px 0px;
}
.console .profile .historial .datos{
    width: 100%;
    height: calc(100% - 21px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}
.console .profile .historial .datos .dato{
    width: 100%;
    height: 20%;
    border:1.5px rgba(129, 131, 231, 0.15) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5px;
    padding: 0 5px;
}
.console .profile .historial .datos .dato:hover{
    background:rgba(129, 131, 231, 0.15);
    transition: 0.25s;
}
.console .profile .historial .datos .dato span:nth-last-child(2){
    opacity: 0.7;
    position: absolute;
    left: 62%;
}
.console .profile .historial .datos .dato .mas{
    color: rgba(70, 185, 70, 0.705);
}
.console .profile .historial .datos .dato .menos{
    color: rgb(185, 70, 70);
}
.console .profile .groups a,.console .profile .historial a{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3.1vh;
    width: 100%;
    font-size: 0.95em;
    background:#e6f2f7;
    z-index: 1;
}
/* */

/* Central */
.banner{
    top: 0;
    width: 48%;
    height: 168vh;
    overflow-x: hidden;
}
.banner section{
    padding-top: 40vh;
    left: -100%;
    width: 300%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}
.preview{
    position: fixed;
    top: 0;
    left: 22.51%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 0 18px 0;
    width: 37vw;
    height: 30px;
    background: #f6f9fa;
    border-bottom: rgba(202, 202, 202, 0.959) 2.4px solid;
    z-index: 5;
}
.preview.bloq{
    pointer-events: none;
}
.preview p{
    top: 5px;
    height: 30px;
    width: 60px;
    text-align: center;
    margin: 0 10px;
    color: #151515;
    cursor: default;
    -webkit-user-select: none;
}
.preview p.clicked{
    color: black;
    border-bottom: 3px solid #0764ce;
}
.box{
    top: 20px;
    display: grid;
    width: 48vw;
    height: 81vh;
    padding: 0 5.5vw;
    grid-template-columns: repeat(16,1fr);
    grid-auto-rows: auto;
    gap: 7px;
    transition: 0.5s;
}
.box.see{
    filter: saturate(0) opacity(0.9);
    pointer-events: none;
    transition: 1s;
}
.box img.globo{
    position: absolute;
    left: 50%; 
    top: -335px;
    width: 300px; 
    height: 300px;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 50%;
}
.box .glob{
    position: absolute;
    left: 50%; 
    top: -360px;
    width: 37vw;
    height: 350px;
    transform: translateX(-50%);
    z-index: 1;
    background: #0764ce;
    border-radius: 4px;
}
.box .glo{
    position: absolute;
    left: 33%; 
    top: -280px;
    font-size: 30px;
    width: 15vw;
    height: 350px;
    transform: translateX(-50%);
    color: white;
    z-index: 2;
}
.box .glo span{
    position: absolute;
    width: 100%;
    left: 0;
    top: 27%;
    font-size: 0.8em;
    color: #0764ce;
}
.card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}
.box:nth-child(2n + 1) .card{
    box-shadow: none;
}
.card:nth-child(1){
    grid-column: 9/17;
    grid-row: 1/10;
}
.card:nth-child(2){
    grid-column: 1/5;
    grid-row: 1/6;
}
.card:nth-child(3){
    grid-column: 5/9;
    grid-row: 1/6;
}
.card:nth-child(4){
    grid-column: 1/6;
    grid-row: 6/11;
}
.card:nth-child(5){
    grid-column: 13/17;
    grid-row: 10/16;
}
.card:nth-child(6){
    grid-column: 6/9;
    grid-row: 6/11;
}
.card:nth-child(7){
    grid-column: 9/13;
    grid-row: 10/16;
}
.card:nth-child(8){
    grid-column: 1/6;
    grid-row: 11/16;
}
.card:nth-child(9){
    grid-column: 6/9;
    grid-row: 11/15;
}
.card .fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(226, 226, 226);
    filter: brightness(0.8) saturate(0);
    border-radius: 5px;
}
.card:nth-child(2n + 1) .fondo{
    background: #505050;
}
.box:nth-child(2n + 1) .card .fondo{
    background: rgba(255, 255, 255, 0.3);
    filter: brightness(1) saturate(1);
}
.card img{
    width: 110%;
    height: 100%;
    -webkit-user-select: none;
}
.box:nth-child(2n + 1) .card img{
    display: none;
}
.card .info{display: none;}

.information{
    position: fixed;
    width: 29vw;
    height: 47vh;
    top: 50vh;
    left: 41%;
    transform: translate(-50%,-50%) scale(0.9);
    color: white;
    background: #FE5D6C;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 0 10px;
    transition: 0.5s;
    border-radius: 3.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
}
.information.see{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: .5s;
}
.information .valores{
    left: 5%;
    top: 0;
    width: 29vw;
    padding: 10px 0;
    font-size: 30px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: none;
}
.information .valores div{
    width: 40%;
    text-align: left;
}
.information h2{
    color: #f5374a;
    height: 34%;
    width: 82%;
    top: 2%;
    left: 4%;
    display: flex;
    align-items: flex-end;
    font-size: 2.5em;
}
.information a{
    text-transform: uppercase;
    bottom: 0;
    left: 63%;
    border-top: #f5374a 3px solid;
    padding: 5px;
}
.close{
    position: fixed;
    top: 31%;
    left: 52%;
    z-index: 2;
    visibility: hidden;
    opacity: 0.2;
    cursor: pointer;
}
.close.see{
    visibility: visible;
    opacity: 1;
    transition: .8s;
    transition-delay: .7s;
}

/* */

/*  Actividad - panel derecho */
.stats{
    position: sticky;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    padding: 40px 20px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bets{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activo,.finalizado{
    width: 48%;
    height: 100%;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
article h3{
    width: 100%;
    height: 20%;
    background: rgba(129, 210, 231, 0.1);
    color: rgb(32, 32, 32);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
}
article h3 span{
    position: absolute;
    bottom: 5px;
    right: 35px;
    font-size: 0.8em;
    opacity: 0.6;
}
article h3 span span{
    position: absolute;
    bottom: 0;
    font-size: 1em;
    right: -20px;
    opacity: 1;
}
.bar{
    width: 96%;
    height: 16%;
    border-bottom: rgba(129, 210, 231, 0.1) 4px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 4px;
    cursor: pointer;
}
.finalizado .bar{
    border-bottom: none;
}
.activo .bar{
    transition: 0.3s;
}
.activo .bar:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.finalizado .bar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: rgb(139, 139, 139);
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.activo .bar:hover::before{
    width: 100%;    
}
.finalizado .bar:hover::before{
    height: 110%;
}
.finalizado .bar::after{
    position: absolute;
    width: 100%;
    bottom: -9px;
    right: 0;
    text-align: right;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    padding-right: 5px;
}
.bar.win{
    background: #b4e9c0;
    border-top: 4px solid rgba(70, 185, 70, 0.705);
}
.finalizado .bar.win::before{
    background: rgba(70, 185, 70, 0.705);
}
.bar.win::after{
    content: 'WINNER';
    color: rgba(70, 185, 70, 0.3);
}
.bar.lose{
    background: #e9b4b4;
    border-top: 4px solid rgb(207, 68, 68);
}
.finalizado .bar.lose::before{
    background: rgb(207, 68, 68);
}
.bar.lose::after{
    content: 'LOSER';
    color: rgba(185, 70, 70, 0.3);
}
.bar.back{
    background: #f7de3ba8;
    border-top: 4px solid rgb(247, 235, 75);
}
.finalizado .bar.back::before{
    background: rgb(247, 235, 75);
}
.bar.back::after{
    content: 'ONE MORE CHANCE';
    color: rgba(185, 183, 70, 0.3);
}
.bar.nextime{
    background: #69696967;
    border-top: 4px solid rgb(139, 139, 139);
}
.bar.nextime::after{
    content: 'TRY AGAIN';
    color: rgba(127, 127, 128, 0.3);
}
.bar h4{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.85em;
    z-index: 3;
}
article.finalizado .bar h4{
    width: 92%;
    display: flex;
    justify-content: space-between;
}
.bar h4 span{
    position: absolute;
    top: 140%;
    left: 0;
    font-size: 0.8em;
    color: #004596;
}
article.finalizado h4 span{
    position: relative;
    left: 0;
    top: 0;
    color: rgba(0, 0, 0, 0.15);
}
.uso{z-index: 2;}
.bar progress{
    -webkit-appearance: none;
    position: absolute;
    top: -145.6%;
    left: 35%;
    transform: rotate(-90deg);
    width: 30%;
    height: 400%;
    z-index: 1;
}
.bar ::-webkit-progress-bar{
    background: transparent;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.bar ::-webkit-progress-value{
    border-right: 2px solid gray;
    background: url(../img/diagonal-lines.svg);
    background-size: 8px;
    opacity: 0.6;
}
.bar h5{
    position: absolute;
    font-family: sans-serif;
    color: rgba(128, 128, 128, 0.6);
    font-size: 30px;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.plus{
    position: absolute;
    justify-content: flex-start;
    bottom: 0;
    color: rgb(129, 210, 231);
    border-bottom: none;
    text-decoration: none;
    width: 96%;
    height: 16%;
    display: flex;
    align-items: center;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 4px;
    cursor: pointer;
}

.guide{
    width: 100%;
    height: 37%;
    background: #0764ce;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    
}
.guide .list{
    height: 100%;
    width: 40%;
}
.guide .list h3{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 40px;
    padding: 30px 30px 20px 20px;
}
.guide .list h3 span{
    color: #80AFE7;
    font-size: 16px;
    bottom: 25px;
    right: 25px;
    padding-top: 5px;
    border-top: #0764ce 4px solid;
    cursor: pointer;
    -webkit-user-select: none;
}
.guide .timeline{
    display: none;
}
.guide .step{
    display: none;
}


.guide.tutorial{
    position: absolute;
    top: 40px;
    left: 5px;
    width: calc(100% - 20px);
    height: calc(100% - 45px);
    background: #0764ce;
    z-index: 3;
}
.guide .folleto{
    width: 60%; 
    top: 35px; 
}
.guide .folleto img{
    width: 100%;
    filter: sepia(1) hue-rotate(180deg) opacity(0.5);
}
.guide.tutorial img{
    position: absolute;
    width: 40%;
    right: 35px;
    top: -15px;
    transform: rotateY(180deg);
}

.guide.tutorial .timeline{
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    height: 62%;    
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}    
.guide.tutorial .timeline .mark{
    content: '';
    padding-left: 5.5vw;
    color: white;
    height: 20%;
    width: 100%;
}   
.guide.tutorial .timeline .mark::after{
    position: absolute;
    content: '';
    color: white;
    height: 2vw;
    width: 2vw;
    background: #0764ce;
    border-radius: 50%;
    transition: 0.5s;
}
.guide.tutorial .timeline .mark::before{
    position: absolute;
    content: '';
    background: #0764ce;
    width: 5px;
    height: 63%;
    position: absolute;
    left: 6.5vw;
    top: 0;
    transform: translate(-50%,-98%);
    transition: 0.5s;
}
.guide.tutorial .timeline .mark:first-child::before{
    display: none;
}
.guide.tutorial .timeline .mark.lleno::after,.guide.tutorial .timeline .mark.lleno::before{
    background: white;
    transition: 0.5s;
}
.guide.tutorial .timeline .mark span{
    color: #398de7;
    width: 16.5vw;
    height: 10vh;
    left: 15.5vw;
    top: 5%;
    position: absolute;
}
.guide.tutorial .timeline .mark:hover span{
    transform: scale(1.1);
    transition: 0.35s;
    color: #499cf5;
}
.guide.tutorial .step{
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #FE5D6C;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
}

/* */